
ASP.NETWEBAPI/.vs/ASP.NETWEBAPI/DesignTimeBuild/.dtbcache.v2
ASP.NETWEBAPI/.vs/ASP.NETWEBAPI/FileContentIndex/36a0dde1-9744-4796-a616-7ae604680deb.vsidx
ASP.NETWEBAPI/.vs/ASP.NETWEBAPI/FileContentIndex/9bf12661-90ea-45a8-98b7-09aa7dd3d844.vsidx
ASP.NETWEBAPI/.vs/ASP.NETWEBAPI/FileContentIndex/ae53348e-a90f-410f-8e1a-e29ec28df3d5.vsidx
ASP.NETWEBAPI/.vs/ASP.NETWEBAPI/FileContentIndex/b0453f37-3215-47ac-baba-64816b3c7bc3.vsidx
ASP.NETWEBAPI/.vs/ASP.NETWEBAPI/FileContentIndex/f71488ea-5924-4f6b-8014-f3998bcfcae3.vsidx
ASP.NETWEBAPI/.vs/ASP.NETWEBAPI/v17/.futdcache.v2
ASP.NETWEBAPI/.vs/ASP.NETWEBAPI/v17/.suo
ASP.NETWEBAPI/.vs/ProjectEvaluation/asp.netwebapi.metadata.v7.bin
ASP.NETWEBAPI/.vs/ProjectEvaluation/asp.netwebapi.projects.v7.bin
